.recipe {
    padding-left: var(--lateralMargins);
    padding-bottom: 20vh;
    --navColor: var(--orange-1);
    background-color: var(--orange-1);

    &_h2 {
        font-size: 3.6rem;
        color: var(--textColor);
        text-transform: uppercase;
        margin-bottom: 3.2rem;
    }

    &_h3 {
        font-size: 2.4rem;
        font-weight: 800;
    }



    &_servingControls {
        display: flex;
        align-items: center;

        & svg {
            width: 4.8rem;
            height: 4.8rem;
            margin-right: 1.6rem;
            fill: var(--textColor);
        }

        & span {
            font-size: 2rem;
            color: var(--orange-4);
            font-weight: 800;
            margin-right: 1.6rem;
        }

        & input {
            font-size: 2.4rem;
            width: 3em;
            background: transparent;
            border: 1px solid var(--orange-4);
            padding: .4rem 1rem;
            font-weight: 800;

            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        & input[type=number]::-webkit-inner-spin-button,
        & input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }


    }
}

.header {
    display: flex;
    align-items: center;
    gap: 8.4rem;

    &_content {
        display: flex;
        flex-direction: column;
        flex: 2;
        margin-top: 5rem
    }

    &_row1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;
    }

    &_category {
        color: var(--textColor);
        font-size: 2rem;
        font-weight: 600;
    }

    &_date {
        color: var(--orange-4);
        font-size: 1.6rem;
    }

    &_title {
        font-size: 4.4rem;
        color: var(--orange-4);
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &_user {
        color: var(--textColor);
        font-size: 2rem;
        font-weight: 600;
    }

    &_description {
        font-size: 2rem;
        font-weight: 400;
        color: var(--orange-4);
        margin: 2rem 0 4rem 0;
    }

    &_stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 3.6rem;
        border-bottom: 1px solid var(--orange-4);
        border-top: 1px solid var(--orange-4);

        &_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
        }

        svg {
            fill: var(--textColor);
            width: 3rem;
            height: 3rem;
            margin-bottom: -13%;
            margin-right: 0.3rem;
        }
    }

    &_stat {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        & svg {
            margin: 0;
            margin-right: 1.2rem;
            fill: var(--textColor);
            width: 3.6rem;
            height: 3.6rem;
        }

        &_ratings svg {
            width: 3.2rem;
            height: 3.2rem;
        }

        &_forks svg {
            margin-right: .8rem;
        }

    }

    &_time {
        display: flex;
        flex-direction: column;
    }

    &_forks {
        text-align: right;
    }

    &_img {
        flex: 3;
        display: flex;
        max-height: 70vh;
        box-shadow: -1.6rem 1.6rem 0px var(--accentColor);

        & span {
            width: 100% !important;
        }

        & img {
            object-fit: cover;
        }
    }

}

.section {
    margin-top: 10rem;

    &_header {
        display: flex;
        gap: 24.8rem;
        align-items: flex-start;
    }

    &_title {
        font-size: 3.6rem;
        color: var(--textColor);
        text-transform: uppercase;
        margin-bottom: 5.6rem;
    }



    &_cats {
        display: flex;
        gap: 6rem;
        flex-wrap: wrap;
    }

    &_category {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        max-width: 30em;
        min-width: 30rem;

        &_title {
            font-size: 2.4rem;
            font-weight: 800;
        }

    }

    &_item {
        font-size: 2rem;
    }
}


.steps {
    & .section_category {
        max-width: 60%;

        & ol {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
        }

        &:not(:last-child) {
            margin-bottom: 6.4rem;
        }

    }

}

.buttonContainer {
    align-self: center;
    display: flex;
    background-color: var(--orange-1);
    margin-top: -2.8rem;
    border: 1px solid var(--orange-4);
    box-shadow: -0.8rem 0.8rem var(--accentColor);
    transition: all .2s ease-out;

    &:hover {
        box-shadow: 0px 0px var(--accentColor);
    }

    &>button {
        transition: all .2s ease-out;
    }

    &>button:hover {
        background-color: var(--accentColor)
    }

    &>button:first-child {
        padding: 1rem 1.6rem 1rem 3rem;
    }

    &>button:last-child {
        padding: 1rem 3rem 1rem 1.6rem;
    }
}