.clrBg {
    border-radius: .8rem;
    padding: .8rem 3.6rem;
    background-color: var(--textColor);
    color: var(--lightColor);

    &:hover {
        background-color: var(--accentColor);
    }

    &_light {
        border-radius: .8rem;
        padding: .8rem 3.6rem;
        background-color: var(--accentColor);
        color: var(--darkColor);

        &:hover {
            background-color: var(--lightColor);
        }
    }
}


.Outline {
    background: var(--orange-1);
    border: 1px solid var(--orange-4);
    font-size: 2rem;
    color: var(--textColor);
    font-weight: 600;
    padding: .8rem 3.6rem;
    box-shadow: -.4rem .4rem var(--accentColor);
    transition: all .2s ease-out;

    &:hover {
        background-color: var(--lightColor);
        box-shadow: 0rem 0rem var(--accentColor);
    }
}